*{
    box-sizing: border-box;
}
body{
    background-color:#1D1B1B ;
    margin: 0 auto;
    padding: 0;
}
@font-face{
    font-family: 'Mon';
    src: url(../font/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: 'Mon';
    src: url(../font/Montserrat-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'Mon';
    src: url(../font/Montserrat-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'Rob';
    src: url(../font/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: 'Rob';
    src: url(../font/Roboto-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'Rob';
    src: url(../font/Roboto-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

.container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.header{
    padding-top: 10px;
}
.header .container{
    display: flex;
    align-items: center;
}
.header .container .category{
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}
.header .container .category a{
    font-family: 'Rob';
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    color: aliceblue;
    margin-right: 20px;
    margin-left: 20px;
    transition: .5s;
}
.header .container .category a:hover{
    color: #11C0EF;
    transition: .3s;
}