*{
    box-sizing: border-box;
}
body{
    background-color:#1D1B1B ;
    margin: 0 auto;
    padding: 0;
}
@font-face{
    font-family: 'Mon';
    src: url(../font/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: 'Mon';
    src: url(../font/Montserrat-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'Mon';
    src: url(../font/Montserrat-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'Rob';
    src: url(../font/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: 'Rob';
    src: url(../font/Roboto-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'Rob';
    src: url(../font/Roboto-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

.container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.header{
    padding-top: 10px;
}
.header .container{
    display: flex;
    align-items: center;
}
.header .container .category{
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}
.header .container .category a{
    font-family: 'Rob';
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    color: aliceblue;
    margin-right: 20px;
    margin-left: 20px;
    transition: .5s;
}
.header .container .category a:hover{
    color: #11C0EF;
    transition: .3s;
}
.about{
    margin-top: 100px;
}
.about .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.about .container .col1,.col2{
    display: flex;
}
.about .container .col1 .name{
    font-family: 'Mon';
    font-weight: 700;
    font-size: 84px;
    color: #11C0EF;
    writing-mode: vertical-rl;
    margin: 0;
    margin-top: 30px;
    
}
.about .container .phototext{
    width: 377px;
    height: 500px;
    border-radius: 15px;
    background: url(../img/13122011885.jpg) no-repeat center center;
    background-size: contain;  
    display: flex;
    align-items: center;
    position: relative;
}
.about .container .phototext .text{
    font-family: 'Mon';
    color: aliceblue;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    opacity: 0;
    transition: .5s;
}
.about .container .phototext::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 195, 255, 0.5); 
    border-radius: 15px;
    opacity: 0; 
    transition: opacity 0.3s; 
}
.about .container .phototext:hover::before {
    opacity: 1; 
}
.about .container .phototext:hover .text{
    opacity: 1;
    z-index: 2;
    transition: .3s;
}
.about .container .col2{
    width: 600px;
    overflow-x: hidden;
}

.about .container .col2 .infome label{
    font-family: 'Mon';
    font-size: 18px;
    font-weight: 500;
    color: aliceblue;
    margin-left: 10px;
    margin-right: 10px;
    
    
}
.about .container .col2 .infome input{
    display: none;
}

.about .container .col2 .infome .perecluch .line .textphoto{
    width: 510px;
    height: 280px;
    border: 1px solid #11C0EF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about .container .col2 .infome .perecluch .line .textphoto .ball{
    width: 100px;
    height: 100px;
    background: url(../img/football_1124104.png)no-repeat center center;
    background-size: contain;

}
.about .container .col2 .infome .perecluch .line .textphoto .opis{
    font-family: 'Mon';
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: aliceblue;
}
.about .container .col2 .infome .perecluch .line .textphoto1{
    width: 510px;
    height: 280px;
    border: 1px solid #11C0EF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about .container .col2 .infome .perecluch .line .textphoto1 .music{
    width: 100px;
    height: 100px;
    background: url(../img/rock_11943031.png)no-repeat center center;
    background-size: contain;

}
.about .container .col2 .infome .perecluch .line .textphoto1 .opis{
    font-family: 'Mon';
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: aliceblue;
}
.about .container .col2 .infome .perecluch .line .textphoto3{
    width: 510px;
    height: 280px;
    border: 1px solid #11C0EF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about .container .col2 .infome .perecluch .line .textphoto3 .play{
    width: 100px;
    height: 100px;
    background: url(../img/computer_961118.png)no-repeat center center;
    background-size: contain;

}
.about .container .col2 .infome .perecluch .line .textphoto3 .opis{
    font-family: 'Mon';
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: aliceblue;
}
.about .container .col2 .infome .perecluch .line{
    width: 300%;
    display: flex;
    margin-top: 20px;
}
.about .container .col2 .infome .perecluch .line .text{
    width: calc(100%/3);
    transition: 1s;
}
.about .container .col2 .infome .perecluch{
    width: 100%;
    overflow-x: hidden;
 
   
}

#input1:checked~#label1,
#input2:checked~#label2,
#input3:checked~#label3{
    color: #11C0EF;
    transition: .3s;
}

#input1:checked ~ .perecluch .text{
    transform: translateX(0);
    transition: 1s;
}
#input2:checked ~ .perecluch .text{
    transform: translateX(-100%);
    transition: 1s;
}
#input3:checked ~ .perecluch .text{
    transform: translateX(-200%);
    transition: 1s;
}
.skills{
    margin-top: 100px;
}
.skills .container{
    display:flex ;
    
}

.skills .container .skill{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.skills .container .skill .block1{
    display: flex;
    flex-direction: column;
    
   
}
.skills .container .skill .block1 .Hard{
    font-family: 'Mon';
    font-size: 34px;
    color: #11C0EF;
    font-weight: 700;
}
.skills .container .skill .nmb{
    font-family: 'Rob';
    font-size: 18px;
    color: #11C0EF;
    font-weight: 700;
    padding: 5px;
    background-color: aliceblue;
    border-radius: 15px;
    width: 33px;
}
.skills .container .skill .opis{
    font-family: 'Mon';
    font-size: 16px;
    font-weight: 500;
    color: aliceblue;
}
.skills .container .skill .nabor .frst,.second,.thd{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills .container .skill .block1 .nabor{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    
    
}
.skills .container .skill .block2{
    display: flex;
    flex-direction: column;
    
}
.skills .container .skill .block2 .Soft{
    font-family: 'Mon';
    font-size: 34px;
    color: #11C0EF;
    font-weight: 700;
}

.skills .container .skill .block2 .nabor{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}
.skills .container .big{
    font-family: 'Mon';
    font-weight: 700;
    font-size: 84px;
    color: #11C0EF;
    writing-mode: vertical-rl;
    margin: 0;
    margin-top: 30px;
}
.port{
    margin-top: 100px;
}
.port .container{
    display: flex;
}
.port .container .big{
    font-family: 'Mon';
    font-weight: 700;
    font-size: 84px;
    color: #11C0EF;
    writing-mode: vertical-rl;
    margin: 0;
    
}
.port .container .cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.port .container .card{
    width: 450px;
    height: 300px;
    border: 1px solid #11C0EF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.port .container .card:nth-child(3){
    margin-top: 30px;
}
.port .container .card:nth-child(4){
    margin-top: 30px;
}
.port .container .card .img1{
    width: 300px;
    height: 200px;
    background: url(../img/Screenshot_3.jpg) no-repeat center center;
    background-size: contain;
}
.port .container .card .img2{
    width: 300px;
    height: 200px;
    background: url(../img/Screenshot_2.jpg) no-repeat center center;
    background-size: contain;
}
.port .container .card .img3{
    width: 300px;
    height: 200px;
    background: url(../img/Screenshot_1.jpg) no-repeat center center;
    background-size: contain;
}
.port .container .card .img4{
    width: 300px;
    height: 200px;
    background: url(../img/Screenshot_45.jpg) no-repeat center center;
    background-size: contain;
}
.port .container .card .opisa{
    font-family: 'Mon';
    font-size: 16px;
    font-weight: 500;
    color: aliceblue;
    text-align: center;
}
.port .container .card .opisa a{
    text-decoration: none;
    color: #11c0ef;
}
.career{
    margin-top: 100px;
}
.career .container .dots{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.career .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.career .container .dota{
    width: 310px;
    height: 200px;
    background-color: #11C0EF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    margin-right: 5px;
    margin-left: 5px;
}
.career .container .dota .text{
    display: none;
    font-family: 'Mon';
    font-size: 18px;
    font-weight: 500;
    color: aliceblue;
    transition: .5s;
    text-align: center;
}
.career .container .dota:hover{
    background-color: #1D1B1B;
    transition: .3s;
}
.career .container .dota:hover .text{
    display: block;
    transition: .3s;
}
.career .container .dota:hover .number{
    display: none;
    transition: .3s;
}
.career .container .dota .number{
    font-family: 'Mon';
    font-size: 24px;
    font-weight: 700;
    color: aliceblue;
    transition: .5s;
}
.career .container .napi{
    width: 40px;
    height: 40px;
    background: url(../img/right-arrow_12334984.png) no-repeat center center;
    background-size: contain;
}
.career .container .big{
    font-family: 'Mon';
    font-weight: 700;
    font-size: 84px;
    color: #11C0EF;
    writing-mode: vertical-rl;
    margin: 0;
}
.footer{
    margin-top: 25px;
    
    margin-bottom: 20px;
    
}
.footer .container{
    padding-top: 25px;
    border-top: 1px solid #11C0EF;
}
.footer .container .contacts{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.footer .container .contacts .vk{
    width: 40px;
    height: 40px;
    background: url(../img/logo_12868650.png) no-repeat center center;
    margin-right: 20px;
    background-size: contain;
}
.footer .container .contacts .tg{
    width: 40px;
    height: 40px;
    background: url(../img/togo_16315839.png) no-repeat center center;
    background-size: contain;
}
.footer .container .contacts .git{
    width: 40px;
    height: 40px;
    background: url(../img/git_6038629.png) no-repeat center center;
    margin-left: 20px;
    background-size: contain;
}

@media(max-width:1200px){
    .container{
        width: 992px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .about{
        margin-top: 50px;
    }
    .about .container{
        display: flex;
        flex-direction: column;
    }
    .about .container .col1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .about .container .col1 .name{
        writing-mode: horizontal-tb ;
        margin-top: 0;
    }
    
    .about .container .col2{
        margin-left: 80px;
    }

    .skills .container{
        display: flex;
        flex-direction: column-reverse;
    }
    .skills .container .big{
        writing-mode: horizontal-tb;
        text-align: center;
    }
    .skills .container .skill{
        width: 100%;
        display: flex !important;
        
        justify-content: center !important;
    }
    .port .container{
        display: flex;
        flex-direction: column;
    }
    .port .container .big{
        writing-mode: horizontal-tb;
        text-align: center;
        margin-bottom: 20px;
    }
    .career .container{
       display: flex;
       flex-direction: column-reverse;
    }
    .career .container .dots{
        display: flex;
        flex-direction: column;
    }
    .career .container .dots .napi{
        display: none;
    }
    .career .container .dots .dota{
        margin-bottom: 20px;
    }
    .career .container .big{
        writing-mode: horizontal-tb;
        margin-bottom: 20px;
    }


}
@media(max-width:992px){
    .container{
        width: 766px;
    }
    .port .container .cards .card{
        width: 350px;
    }
}

@media(max-width:766px){
    .container{
        width: 576px;
    }
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    .header .container .category a{
        font-size: 16px !important;
    }
    .about .container .name{
        font-size: 64px !important;
    }.about .container .phototext{
        height: 400px !important;
        width: 300px !important;
    }
    
    .about .container .phototext .text{
        font-size: 16px !important;
    }
    .about .container label{
        font-size: 16px !important;
    }
    .about .container .opis{
        font-size: 16px !important;
    }
    .skills .container .big{
        font-size: 64px !important ;
    }
    .skills .container .Hard{
        font-size: 24px !important;
    }
    .skills .container .Soft{
        font-size: 24px !important;
    }
    .skills .container .nmb{
        font-size: 16px !important;
    }
    .skills .container .opis{
        font-size: 13px !important;
    }
    .port .container .big{
        font-size: 64px !important ;
    }
    .port .container .cards .card .img1,.img2,.img3,.img4{
        width: 250px !important;
    }
    .port .container .cards .card{
        width: 260px !important;
        
    }
    .port .container .cards .card .opisa{
        font-size: 14px !important;
    }
    .career .container .big{
        font-size: 64px !important;
    }
    .career .container .dota .text{
        font-size: 16px !important;
    }
}